<html>

<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Webnotes</title>

</head>

<body>

    <div id="content">
    
        {% block content %}
        
        {% endblock %}
    
    </div>

</body>